<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Maths questions starter</title>
    <link rel="icon" type="image/png" href="/public/images/linux_site_logo.png" sizes="32x32">
    <link href="/../public/styleVideo.css" rel="stylesheet">
</head>
<body>
    <main>
        <header class="SiteHeader">
            <h1>Maths inCoding<img style="float: right;" width="120" height="120" src="/public/images/linux_site_logo.PNG" alt="Pi with numbers">
            </h1>
            <div id="missionStatement">
                <h3>... learning maths through coding computer games</h3>
            </div>
        </header>

    <main class="content-container">
        <!-- Questions Section -->
        <div id="questions-container" class="video-container">
            <form id="question-form">
                <% questionData.forEach((currentQuestion, i) => { %>
                    <div class="question-block">
                        <img src="<%= '/' + currentQuestion.imgSrc %>" alt="<%= currentQuestion.imgAlt %>" width="525" height="350" />
                        <div class="choices">
                            <% currentQuestion.choices.forEach((choice, j) => { %>
                                <input type="radio" name="answer<%= i %>" id="choice<%= i %>-<%= j %>" value="<%= j %>">
                                <label for="choice<%= i %>-<%= j %>"><%= choice %></label>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
                <button type="submit" class="myButton">Send answer</button>
            </form>
        </div>
        
        <!-- Video Player Section -->
        <% if (helpVideo && helpVideo.videoSrc) { %>
            <div id="help-video-container" class="video-container" style="display:none;">
                <video id="help-video" controls>
                    <source src="<%= helpVideo.videoSrc %>" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="video-controls">
                    <!-- Video controls here, if any custom controls are used -->
                </div>
            </div>
        <% } %>
    
<script>
    console.log("Video Source: <%= helpVideo ? helpVideo.videoSrc : 'No video source provided' %>");
</script>


<script>
const correctAnswers = <%- JSON.stringify(questionData.map(q => q.answer)) %>;
alert('Correct Answers: ' + correctAnswers);
const questionDataLength = <%= questionData.length %>;

// Mapping function to convert index to corresponding letter
const indexToLetter = (index) => {
    const mapping = ['a', 'b', 'c', 'd'];
    return mapping[index];
};

document.addEventListener('DOMContentLoaded', function() {
    const questionForm = document.getElementById("question-form");
    const helpVideoContainer = document.getElementById("help-video-container");
    const helpVideo = document.getElementById("help-video");

    questionForm.addEventListener("submit", function (event) {
        event.preventDefault();
        
        // Get the selected radio button values as numbers and then map them to letters
        const selectedAnswers = Array.from(questionForm.querySelectorAll("input[type=radio]:checked"))
                                     .map(input => indexToLetter(parseInt(input.value)));
        let score = 0;

        // Calculate the score
        selectedAnswers.forEach((selected, index) => {
            if (selected === correctAnswers[index]) {
                score++;
            }
        });

        alert('Selected answers: ' + selectedAnswers); 
        alert('Score: ' + score + ', Length: ' + questionDataLength);

        // Redirection logic based on score
        if (score <= questionDataLength * 0.8) {
            if (helpVideoExists) {
                showHelpVideo();
            } else {
                alert("Not found video")
                window.location.href = 'https://corbettmaths.com/2013/05/03/sine-rule-missing-sides/';
            }
        } else {
            redirectToPreviousVideo();
        }
    });

    const helpVideoExists = <%= !!helpVideo %>;
    if (helpVideoExists) {
        helpVideo.addEventListener('ended', redirectToQuestions);
    }

    function showHelpVideo() {
        document.getElementById("questions-container").style.display = "none";
        helpVideoContainer.style.display = "block";
        helpVideo.play();
    }

    function redirectToQuestions() {
        helpVideoContainer.style.display = "none";
        document.getElementById("questions-container").style.display = "block";
    }

    function redirectToPreviousVideo() {
        const previousVideoURL = localStorage.getItem("previousVideoURL");
        const previousVideoTimestamp = localStorage.getItem("previousVideoTimestamp");
        window.location.href = previousVideoURL + '?t=' + previousVideoTimestamp;
    }
});
</script>
</main>
</body>
</html>
